<div class="course-card">
    <h6 class="cou-title">
        <a class="collapsed" data-bs-toggle="collapse" href="#collapse1" aria-expanded="false">What is
            the global demand for {{keyword}}
            in terms of revenue?</a>
    </h6>
    <div id="collapse1" class="card-collapse collapse" style="">
        <ul>
            <li>
                <p>The global {{keyword}} valued at {{Revenue_Current}}
                    in {{Current_Year}} and is expected to reach {{Revenue_Forecast}} in {{Forecast_Year}}
                    growing at a CAGR of {{CAGR_Revenue}}.</p>
            </li>

        </ul>
    </div>
</div>
<div class="course-card">
    <h6 class="cou-title">
        <a class="collapsed" data-bs-toggle="collapse" href="#collapse2" aria-expanded="false">Which
            are the prominent players
            in the market?</a>
    </h6>
    <div id="collapse2" class="card-collapse collapse" style="">
        <ul>
            <li>
                <p>The prominent players in the market are {{Players}}.</p>
            </li>

        </ul>
    </div>
</div>
<div class="course-card">
    <h6 class="cou-title">
        <a class="collapsed" data-bs-toggle="collapse" href="#collapse3" aria-expanded="false">At what CAGR is
            the market projected to grow within the forecast period?</a>
    </h6>
    <div id="collapse3" class="card-collapse collapse" style="">
        <ul>
            <li>
                <p>The market is project to grow at a CAGR of
                    {{CAGR_Revenue}}
                    between {{math Current_Year '+' 1}} and {{Forecast_Year}}.</p>
            </li>

        </ul>
    </div>
</div>
<div class="course-card">
    <h6 class="cou-title">
        <a class="collapsed" data-bs-toggle="collapse" href="#collapse4" aria-expanded="false">What are
            the driving factors
            fueling the growth of the market.</a>
    </h6>
    <div id="collapse4" class="card-collapse collapse" style="">
        <ul>
            <li>
                <p>The driving factors of the {{keyword}} include
                <ul style="list-style: disc;" class="pl-lg-5 text-justify">
                    <li class="pl-0 pt-0 pb-0">
                        {{driver_1}}
                    </li>
                    {{#if drover_2}}
                    <li class="pl-0 pt-0 pb-0">
                        {{driver_2}}
                    </li>
                    {{/if}}
                </ul>
                </p>
            </li>

        </ul>
    </div>
</div>
<div class="course-card">
    <h6 class="cou-title">
        <a class="collapsed" data-bs-toggle="collapse" href="#collapse5" aria-expanded="false">Which
            region accounted for the
            largest share in the market?</a>
    </h6>
    <div id="collapse5" class="card-collapse collapse" style="">
        <ul>
            <li>
                <p>{{Largest_Region}} was the leading regional segment of the
                    {{keyword}} in {{Current_Year}}.</p>
            </li>

        </ul>
    </div>
</div>