<h2>{{title}}</h2>
<ul>
    {{#each marketSegregationWitSubSegments}}
    <li><span class="segment-title">{{title}}</span>
        <ul>
            {{#split_each subSegment ','}}
            <li>{{.}}</li>
            {{/split_each}}
        </ul>
    </li>
    {{/each}}

    <li>
        <span class="segment-title">{{../keyword}} Regional Outlook (Revenue, USD Billion/Million, 2018 - 2030)</span>
        <ul>
            <li><span>North America</span>
                <ul>
                    {{#each marketSegregationWitSubSegments}}
                    <li>
                        North America {{../keyword}} Market, by {{segment}}
                        <ul>
                            {{#split_each subSegment ','}}
                            <li>{{.}}</li>
                            {{/split_each}}
                        </ul>
                    </li>
                    {{/each}}
                </ul>
                <ul>
                    <li>U.S.
                        <ul>
                            {{#each marketSegregationWitSubSegments}}
                            <li>U.S. {{../keyword}} Market, by {{segment}}
                                <ul>
                                    {{#split_each subSegment ','}}
                                    <li>{{.}}</li>
                                    {{/split_each}}
                                </ul>
                            </li>
                            {{/each}}

                        </ul>
                    </li>
                    <li>Canada
                        <ul>
                            {{#each marketSegregationWitSubSegments}}
                            <li>Canada {{../keyword}} Market, by {{segment}}
                                <ul>
                                    {{#split_each subSegment ','}}
                                    <li>{{.}}</li>
                                    {{/split_each}}
                                </ul>
                            </li>
                            {{/each}}
                        </ul>
                    </li>
                    <li>
                        Mexico
                        <ul>
                            {{#each marketSegregationWitSubSegments}}
                            <li>Mexico {{../keyword}} Market, by {{segment}}
                                <ul>
                                    {{#split_each subSegment ','}}
                                    <li>{{.}}</li>
                                    {{/split_each}}
                                </ul>
                            </li>
                            {{/each}}
                        </ul>
                    </li>
                </ul>
            </li>
            <!-- Europe -->
            <li><span>Europe</span>
                <ul>
                    {{#each marketSegregationWitSubSegments}}
                    <li>
                        Europe {{../keyword}} Market, by {{segment}}
                        <ul>
                            {{#split_each subSegment ','}}
                            <li>{{.}}</li>
                            {{/split_each}}
                        </ul>
                    </li>
                    {{/each}}
                </ul>
                <ul>
                    <li>U. K.
                        <ul>
                            {{#each marketSegregationWitSubSegments}}
                            <li>U.K. {{../keyword}} Market, by {{segment}}
                                <ul>
                                    {{#split_each subSegment ','}}
                                    <li>{{.}}</li>
                                    {{/split_each}}
                                </ul>
                            </li>
                            {{/each}}

                        </ul>
                    </li>
                    <li>France
                        <ul>
                            {{#each marketSegregationWitSubSegments}}
                            <li>France {{../keyword}} Market, by {{segment}}
                                <ul>
                                    {{#split_each subSegment ','}}
                                    <li>{{.}}</li>
                                    {{/split_each}}
                                </ul>
                            </li>
                            {{/each}}
                        </ul>
                    </li>
                    <li>
                        Germany
                        <ul>
                            {{#each marketSegregationWitSubSegments}}
                            <li>Germany {{../keyword}} Market, by {{segment}}
                                <ul>
                                    {{#split_each subSegment ','}}
                                    <li>{{.}}</li>
                                    {{/split_each}}
                                </ul>
                            </li>
                            {{/each}}
                        </ul>
                    </li>
                    <li>
                        Italy
                        <ul>
                            {{#each marketSegregationWitSubSegments}}
                            <li>Italy {{../keyword}} Market, by {{segment}}
                                <ul>
                                    {{#split_each subSegment ','}}
                                    <li>{{.}}</li>
                                    {{/split_each}}
                                </ul>
                            </li>
                            {{/each}}
                        </ul>
                    </li>
                    <li>
                        Spain
                        <ul>
                            {{#each marketSegregationWitSubSegments}}
                            <li>Spain {{../keyword}} Market, by {{segment}}
                                <ul>
                                    {{#split_each subSegment ','}}
                                    <li>{{.}}</li>
                                    {{/split_each}}
                                </ul>
                            </li>
                            {{/each}}
                        </ul>
                    </li>
                    <li>
                        Rest of Europe
                        <ul>
                            {{#each marketSegregationWitSubSegments}}
                            <li>Rest of Europe {{../keyword}} Market, by {{segment}}
                                <ul>
                                    {{#split_each subSegment ','}}
                                    <li>{{.}}</li>
                                    {{/split_each}}
                                </ul>
                            </li>
                            {{/each}}
                        </ul>
                    </li>
                </ul>
            </li>
            <!--Asia Pacific-->
            <li><span>Asia Pacific</span>
                <ul>
                    {{#each marketSegregationWitSubSegments}}
                    <li>
                        Asia Pacific {{../keyword}} Market, by {{segment}}
                        <ul>
                            {{#split_each subSegment ','}}
                            <li>{{.}}</li>
                            {{/split_each}}
                        </ul>
                    </li>
                    {{/each}}
                </ul>
                <ul>
                    <li>China
                        <ul>
                            {{#each marketSegregationWitSubSegments}}
                            <li>China {{../keyword}} Market, by {{segment}}
                                <ul>
                                    {{#split_each subSegment ','}}
                                    <li>{{.}}</li>
                                    {{/split_each}}
                                </ul>
                            </li>
                            {{/each}}

                        </ul>
                    </li>
                    <li>Japan
                        <ul>
                            {{#each marketSegregationWitSubSegments}}
                            <li>Japan {{../keyword}} Market, by {{segment}}
                                <ul>
                                    {{#split_each subSegment ','}}
                                    <li>{{.}}</li>
                                    {{/split_each}}
                                </ul>
                            </li>
                            {{/each}}
                        </ul>
                    </li>
                    <li>
                        Germany
                        <ul>
                            {{#each marketSegregationWitSubSegments}}
                            <li>Germany {{../keyword}} Market, by {{segment}}
                                <ul>
                                    {{#split_each subSegment ','}}
                                    <li>{{.}}</li>
                                    {{/split_each}}
                                </ul>
                            </li>
                            {{/each}}
                        </ul>
                    </li>
                    <li>
                        India
                        <ul>
                            {{#each marketSegregationWitSubSegments}}
                            <li>India {{../keyword}} Market, by {{segment}}
                                <ul>
                                    {{#split_each subSegment ','}}
                                    <li>{{.}}</li>
                                    {{/split_each}}
                                </ul>
                            </li>
                            {{/each}}
                        </ul>
                    </li>
                    <li>
                        South Korea
                        <ul>
                            {{#each marketSegregationWitSubSegments}}
                            <li>South Korea {{../keyword}} Market, by {{segment}}
                                <ul>
                                    {{#split_each subSegment ','}}
                                    <li>{{.}}</li>
                                    {{/split_each}}
                                </ul>
                            </li>
                            {{/each}}
                        </ul>
                    </li>
                    <li>
                        South East Asia
                        <ul>
                            {{#each marketSegregationWitSubSegments}}
                            <li>South East Asia {{../keyword}} Market, by {{segment}}
                                <ul>
                                    {{#split_each subSegment ','}}
                                    <li>{{.}}</li>
                                    {{/split_each}}
                                </ul>
                            </li>
                            {{/each}}
                        </ul>
                    </li>
                    <li>
                        Rest of Asia Pacific
                        <ul>
                            {{#each marketSegregationWitSubSegments}}
                            <li>Rest of Asia Pacific {{../keyword}} Market, by {{segment}}
                                <ul>
                                    {{#split_each subSegment ','}}
                                    <li>{{.}}</li>
                                    {{/split_each}}
                                </ul>
                            </li>
                            {{/each}}
                        </ul>
                    </li>
                </ul>
            </li>
            <!--Latin America-->
            <li><span>Latin America</span>
                <ul>
                    {{#each marketSegregationWitSubSegments}}
                    <li>
                        Latin America {{../keyword}} Market, by {{segment}}
                        <ul>
                            {{#split_each subSegment ','}}
                            <li>{{.}}</li>
                            {{/split_each}}
                        </ul>
                    </li>
                    {{/each}}
                </ul>
                <ul>
                    <li>Brazil
                        <ul>
                            {{#each marketSegregationWitSubSegments}}
                            <li>Brazil {{../keyword}} Market, by {{segment}}
                                <ul>
                                    {{#split_each subSegment ','}}
                                    <li>{{.}}</li>
                                    {{/split_each}}
                                </ul>
                            </li>
                            {{/each}}

                        </ul>
                    </li>
                    <li>Argentina
                        <ul>
                            {{#each marketSegregationWitSubSegments}}
                            <li>Argentina {{../keyword}} Market, by {{segment}}
                                <ul>
                                    {{#split_each subSegment ','}}
                                    <li>{{.}}</li>
                                    {{/split_each}}
                                </ul>
                            </li>
                            {{/each}}
                        </ul>
                    </li>
                    <li>
                        Rest of Latin America
                        <ul>
                            {{#each marketSegregationWitSubSegments}}
                            <li>Rest of Latin America {{../keyword}} Market, by {{segment}}
                                <ul>
                                    {{#split_each subSegment ','}}
                                    <li>{{.}}</li>
                                    {{/split_each}}
                                </ul>
                            </li>
                            {{/each}}
                        </ul>
                    </li>
                </ul>
            </li>
            <!--Middle East & Africa-->
            <li><span>Middle East & Africa</span>
                <ul>
                    {{#each marketSegregationWitSubSegments}}
                    <li>
                        Middle East & Africa {{../keyword}} Market, by {{segment}}
                        <ul>
                            {{#split_each subSegment ','}}
                            <li>{{.}}</li>
                            {{/split_each}}
                        </ul>
                    </li>
                    {{/each}}
                </ul>
                <ul>
                    <li>GCC Countries
                        <ul>
                            {{#each marketSegregationWitSubSegments}}
                            <li>GCC Countries {{../keyword}} Market, by {{segment}}
                                <ul>
                                    {{#split_each subSegment ','}}
                                    <li>{{.}}</li>
                                    {{/split_each}}
                                </ul>
                            </li>
                            {{/each}}

                        </ul>
                    </li>
                    <li>South Africa
                        <ul>
                            {{#each marketSegregationWitSubSegments}}
                            <li>South Africa {{../keyword}} Market, by {{segment}}
                                <ul>
                                    {{#split_each subSegment ','}}
                                    <li>{{.}}</li>
                                    {{/split_each}}
                                </ul>
                            </li>
                            {{/each}}
                        </ul>
                    </li>
                    <li>
                        Rest of Middle East & Africa
                        <ul>
                            {{#each marketSegregationWitSubSegments}}
                            <li>Rest of Middle East & Africa {{../keyword}} Market, by {{segment}}
                                <ul>
                                    {{#split_each subSegment ','}}
                                    <li>{{.}}</li>
                                    {{/split_each}}
                                </ul>
                            </li>
                            {{/each}}
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>


</ul>

<style>
    .segment-title {
        font-weight: bold;
    }
</style>