<div class="toc">
    <ol class="main-ol">
        <li>
            Executive Dashboard
            <ol>
                <li>Strategic Imperatives</li>
            </ol>
        </li>
        <li>
            Premium Insights
            <ol>
                <li>Top 3 Trends to Watch</li>
                <li>Demand and Supply Trends</li>
                <li>Top 3 Strategies Followed by Major Players</li>
                <li>Top 3 Predictions by Vantage Market Research</li>
                <li>Top Investment Pockets</li>
                <li>Insights from Primary Respondents</li>
            </ol>
        </li>


        <li>
            Global {{Keyword}} Market - Segment Analysis
            <ol>
                <li>Overview</li>
                <li>Global {{Keyword}} Market, 2016 - 2028 (USD Million)</li>
                {{#each segments}}
                <li>
                    Global {{../Keyword}} Market - by {{SegmentName}}
                    <ol>
                        {{#each subSegments}}
                        <li>By {{SubSegment}}</li>
                        {{/each}}
                    </ol>
                </li>
                {{/each}}
                <li>
                    Global {{Keyword}} Market - by region
                    <ol>
                        <li>North America</li>
                        <li>Europe</li>
                        <li>Asia Pacific</li>
                        <li>Latin America</li>
                        <li>Middle East & Africa</li>
                    </ol>
                </li>
                <li>Market comparative analysis </li>
            </ol>
        </li>



        <li>
            North America {{Keyword}} Market - Segment Analysis
            <ol>
                <li>Overview</li>
                <li>North America {{Keyword}} Market, 2016 - 2028 (USD Million)</li>
                {{#each segments}}
                <li>
                    North America {{../Keyword}} Market, by {{SegmentName}}
                    <ol>
                        {{#each subSegments}}
                        <li>By {{SubSegment}}</li>
                        {{/each}}
                    </ol>
                </li>
                {{/each}}
                <li>
                    North America {{Keyword}} Market, by Country
                    <ol>
                        <li>U.S.
                            <ol>
                                {{#each segments}}
                                <li>U.S. {{../Keyword}} Market, By {{SegmentName}}
                                    <ol>
                                        {{#each subSegments}}
                                        <li>By {{SubSegment}}</li>
                                        {{/each}}
                                    </ol>
                                </li>
                                {{/each}}
                            </ol>
                        </li>
                        <li>Canada
                            <ol>
                                {{#each segments}}
                                <li>Canada {{../Keyword}} Market, By {{SegmentName}}
                                    <ol>
                                        {{#each subSegments}}
                                        <li>By {{SubSegment}}</li>
                                        {{/each}}
                                    </ol>
                                </li>
                                {{/each}}
                            </ol>
                        </li>
                        <li>Mexico
                            <ol>
                                {{#each segments}}
                                <li>Mexico {{../Keyword}} Market, By {{SegmentName}}
                                    <ol>
                                        {{#each subSegments}}
                                        <li>By {{SubSegment}}</li>
                                        {{/each}}
                                    </ol>
                                </li>
                                {{/each}}
                            </ol>
                        </li>
                    </ol>
                </li>
            </ol>
        </li>



        <li>
            Europe {{Keyword}} Market - Segment Analysis</strong>
            <ol>
                <li>Overview</li>
                <li>Europe {{Keyword}} Market, 2016 - 2028 (USD Million)</li>
                {{#each segments}}
                <li>
                    Europe {{../Keyword}} Market, by {{SegmentName}}
                    <ol>
                        {{#each subSegments}}
                        <li>By {{SubSegment}}</li>
                        {{/each}}
                    </ol>
                </li>
                {{/each}}
                <li>
                    Europe {{Keyword}} Market, by Country
                    <ol>
                        <li>Germany
                            <ol>
                                {{#each segments}}
                                <li>Germany {{../Keyword}} Market, By {{SegmentName}}
                                    <ol>
                                        {{#each subSegments}}
                                        <li>By {{SubSegment}}</li>
                                        {{/each}}
                                    </ol>
                                </li>
                                {{/each}}
                            </ol>
                        </li>
                        <li>UK
                            <ol>
                                {{#each segments}}
                                <li>UK {{Keyword}} Market, By {{SegmentName}}
                                    <ol>
                                        {{#each subSegments}}
                                        <li>By {{SubSegment}}</li>
                                        {{/each}}
                                    </ol>
                                </li>
                                {{/each}}
                            </ol>
                        </li>
                        <li>France<ol>
                                {{#each segments}}
                                <li>France {{../Keyword}} Market, By {{SegmentName}}
                                    <ol>
                                        {{#each subSegments}}
                                        <li>By {{SubSegment}}</li>
                                        {{/each}}
                                    </ol>
                                </li>
                                {{/each}}
                            </ol>
                        </li>
                        <li>Spain
                            <ol>
                                {{#each segments}}
                                <li>Spain {{../Keyword}} Market, By {{SegmentName}}
                                    <ol>
                                        {{#each subSegments}}
                                        <li>By {{SubSegment}}</li>
                                        {{/each}}
                                    </ol>
                                </li>
                                {{/each}}
                            </ol>
                        </li>
                        <li>Italy
                            <ol>
                                {{#each segments}}
                                <li>Italy {{../Keyword}} Market, By {{SegmentName}}
                                    <ol>
                                        {{#each subSegments}}
                                        <li>By {{SubSegment}}</li>
                                        {{/each}}
                                    </ol>
                                </li>
                                {{/each}}
                            </ol>
                        </li>
                        <li>BENELUX
                            <ol>
                                {{#each segments}}
                                <li>BENELUX {{../Keyword}} Market, By {{SegmentName}}
                                    <ol>
                                        {{#each subSegments}}
                                        <li>By {{SubSegment}}</li>
                                        {{/each}}
                                    </ol>
                                </li>
                                {{/each}}
                            </ol>
                        </li>
                        <li>Rest of Europe
                            <ol>
                                {{#each segments}}
                                <li>Rest Of Europe {{../Keyword}} Market, By {{SegmentName}}
                                    <ol>
                                        {{#each subSegments}}
                                        <li>By {{SubSegment}}</li>
                                        {{/each}}
                                    </ol>
                                </li>
                                {{/each}}
                            </ol>
                        </li>
                    </ol>
                </li>
            </ol>
        </li>



        <li>
            Asia Pacific {{Keyword}} Market - Segment Analysis
            <ol>
                <li>Overview</li>
                <li>Asia Pacific {{Keyword}} Market, 2016 - 2028 (USD Million)</li>
                {{#each segments}}
                <li>
                    Asia Pacific {{../Keyword}} Market, by {{SegmentName}}
                    <ol>
                        {{#each subSegments}}
                        <li>By {{SubSegment}}</li>
                        {{/each}}
                    </ol>
                </li>
                {{/each}}
                <li>
                    Asia Pacific {{Keyword}} Market, by Country
                    <ol>
                        <li>China
                            <ol>
                                {{#each segments}}
                                <li>China {{../Keyword}} Market, By {{SegmentName}}
                                    <ol>
                                        {{#each subSegments}}
                                        <li>By {{SubSegment}}</li>
                                        {{/each}}
                                    </ol>
                                </li>
                                {{/each}}
                            </ol>
                        </li>
                        <li>Japan
                            <ol>
                                {{#each segments}}
                                <li>Japan {{../Keyword}} Market, By {{SegmentName}}
                                    <ol>
                                        {{#each subSegments}}
                                        <li>By {{SubSegment}}</li>
                                        {{/each}}
                                    </ol>
                                </li>
                                {{/each}}
                            </ol>
                        </li>
                        <li>India
                            <ol>
                                {{#each segments}}
                                <li>India {{../Keyword}} Market, By {{SegmentName}}
                                    <ol>
                                        {{#each subSegments}}
                                        <li>By {{SubSegment}}</li>
                                        {{/each}}
                                    </ol>
                                </li>
                                {{/each}}
                            </ol>
                        </li>
                        <li>South Korea
                            <ol>
                                {{#each segments}}
                                <li>South Korea {{../Keyword}} Market, By {{SegmentName}}
                                    <ol>
                                        {{#each subSegments}}
                                        <li>By {{SubSegment}}</li>
                                        {{/each}}
                                    </ol>
                                </li>
                                {{/each}}
                            </ol>
                        </li>
                        <li>South East Asia
                            <ol>
                                {{#each segments}}
                                <li>South East Asia {{../Keyword}} Market, By {{SegmentName}}
                                    <ol>
                                        {{#each subSegments}}
                                        <li>By {{SubSegment}}</li>
                                        {{/each}}
                                    </ol>
                                </li>
                                {{/each}}
                            </ol>
                        </li>
                        <li>Rest of Asia Pacific
                            <ol>
                                {{#each segments}}
                                <li>Rest of Asia Pacific {{../Keyword}} Market, By {{SegmentName}}
                                    <ol>
                                        {{#each subSegments}}
                                        <li>By {{SubSegment}}</li>
                                        {{/each}}
                                    </ol>
                                </li>
                                {{/each}}
                            </ol>
                        </li>
                    </ol>
                </li>
            </ol>
        </li>



        <li>
            Latin America {{Keyword}} Market - Segment Analysis
            <ol>
                <li>Overview</li>
                <li>Latin America {{Keyword}} Market, 2016 - 2028 (USD Million)</li>
                {{#each segments}}
                <li>
                    Latin America {{../Keyword}} Market, by {{SegmentName}}
                    <ol>
                        {{#each subSegments}}
                        <li>By {{SubSegment}}</li>
                        {{/each}}
                    </ol>
                </li>
                {{/each}}
                <li>
                    Latin America {{Keyword}} Market, by Country
                    <ol>
                        <li>Brazil
                            <ol>
                                {{#each segments}}
                                <li>Brazil {{../Keyword}} Market, By {{SegmentName}}
                                    <ol>
                                        {{#each subSegments}}
                                        <li>By {{SubSegment}}</li>
                                        {{/each}}
                                    </ol>
                                </li>
                                {{/each}}
                            </ol>
                        </li>
                        <li>Argentina
                            <ol>
                                {{#each segments}}
                                <li>Argentina {{../Keyword}} Market, By {{SegmentName}}
                                    <ol>
                                        {{#each subSegments}}
                                        <li>By {{SubSegment}}</li>
                                        {{/each}}
                                    </ol>
                                </li>
                                {{/each}}
                            </ol>
                        </li>
                        <li>Rest of Latin America
                            <ol>
                                {{#each segments}}
                                <li>Rest of Latin America {{../Keyword}} Market, By {{SegmentName}}
                                    <ol>
                                        {{#each subSegments}}
                                        <li>By {{SubSegment}}</li>
                                        {{/each}}
                                    </ol>
                                </li>
                                {{/each}}
                            </ol>
                        </li>
                    </ol>
                </li>
            </ol>
        </li>



        <li>
            Middle East & Africa {{Keyword}} Market - Segment Analysis
            <ol>
                <li>Overview</li>
                <li>Middle East & Africa {{Keyword}} Market, 2016 - 2028 (USD Million)</li>
                {{#each segments}}
                <li>
                    Middle East & Africa {{../Keyword}} Market, by {{SegmentName}}
                    <ol>
                        {{#each subSegments}}
                        <li>By {{SubSegment}}</li>
                        {{/each}}
                    </ol>
                </li>
                {{/each}}
                <li>
                    Middle East & Africa {{Keyword}} Market, by Country
                    <ol>
                        <li>GCC Countries
                            <ol>
                                {{#each segments}}
                                <li>GCC Countries {{../Keyword}} Market, By {{SegmentName}}
                                    <ol>
                                        {{#each subSegments}}
                                        <li>By {{SubSegment}}</li>
                                        {{/each}}
                                    </ol>
                                </li>
                                {{/each}}
                            </ol>
                        </li>
                        <li>South Africa
                            <ol>
                                {{#each segments}}
                                <li>South Africa {{../Keyword}} Market, By {{SegmentName}}
                                    <ol>
                                        {{#each subSegments}}
                                        <li>By {{SubSegment}}</li>
                                        {{/each}}
                                    </ol>
                                </li>
                                {{/each}}
                            </ol>
                        </li>
                        <li>Rest of Middle East & Africa
                            <ol>
                                {{#each segments}}
                                <li>Rest of Middle East & Africa {{../Keyword}} Market, By {{SegmentName}}
                                    <ol>
                                        {{#each subSegments}}
                                        <li>By {{SubSegment}}</li>
                                        {{/each}}
                                    </ol>
                                </li>
                                {{/each}}
                            </ol>
                        </li>
                    </ol>
                </li>
            </ol>
        </li>



        <li>
            Key Market Dynamics
            <ol>
                <li>Introduction</li>
                <li>Market Drivers</li>
                <li>Market Restraints</li>
                <li>Market Opportunities</li>
                <li>Porter's Five Forces Analysis</li>
                <li>PEST Analysis</li>
                <li>Regulatory Landscape</li>
                <li>Technology Landscape</li>
                <li>Regional Market Trends</li>
            </ol>
        </li>



        <li>
            COVID 19 Impact Analysis
            <ol>
                <li>Key strategies undertaken by companies to tackle COVID-19</li>
                <li>Short term dynamics</li>
                <li>Long term dynamics</li>
            </ol>
        </li>



        <li>
            Marketing Stratagy Analysis
            <ol>
                <li>Marketing Channel</li>
                <li>Direct Marketing</li>
                <li>Indirect Marketing</li>
                <li>Marketing Channel Development Trends</li>
            </ol>
        </li>



        <li>
            Competative Landscape
            <ol>
                <li>Competition Matrix - 2021</li>
                <li>Company Market Share Analysis - 2021</li>
                <li>Key Company Activities, 2018 - 2021</li>
                <li>Strategic Developments - Heat Map Analysis</li>
                <li>Company Offering Evaluation</li>
                <li>Company Regional Presence Evaluation</li>
            </ol>
        </li>



        <li>
            Company Profiles
            <ol>
                {{#each companies}}
                <li>{{.}}</li>
                {{/each}}
            </ol>
        </li>

        <li>Key Primary Respondents - VERBATIM</li>
        <li>Discussion Guide </li>
        <li>Customization Offered</li>
        <li>Annexure </li>
        <li>List of Figures </li>
        <li>List of Tables </li>
        <li>List of Abbreviations </li>
    </ol>
</div>


<style>
    .toc OL {
        counter-reset: item
    }

    .toc LI {
        display: block
    }

    .toc LI:before {
        content: counters(item, ".") " ";
        counter-increment: item
    }

    /* .toc>ol>li,
    .toc>ol>div>li {
        font-weight: bold;
    } */

    .toc>ol>li:before,
    .toc>ol>div>li:before {
        content: counter(item)'.';
        counter-increment: item
    }

    .toc li {
        padding: 5px;
    }

    .click {
        cursor: pointer;
    }

    @media only screen and (max-width: 600px) {
        .toc ol {
            padding: 0px;
            text-align: left;
        }
    }

    /* Hide the nested list */
    .nested {
        display: none;
    }

    /* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
    .active {
        display: block !important;
    }

    .toc > ol.main-ol > li {
        font-weight: bold;
    } 

    .toc > ol.main-ol > li li {
        font-weight: normal;
    }
</style>