<link href="/css/pricing.css" rel="stylesheet" />
<main id="price-main" class="mt-100 py">
    <div class="container">
        <div class="row">
            <div class="wrapper">
                <div class="col-md-4">
                    <div class="table basic">
                        <div class="price-section">
                            <div class="price-area">
                                <div class="inner-area">
                                    <!-- <span class="text">
                                        &#36;
                                    </span> -->
                                    <span class="price">&#36;{{singleUser}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="package-name">

                        </div>
                        <div class="features">
                            <li>
                                <span class="icon check"><i class="fa fa-check-circle"></i></span>
                                <span class="list-name">Report accessible by 1 user only</span>
                            </li>
                            <li>
                                <span class="icon check"><i class="fa fa-check-circle"></i></span>
                                <span class="list-name">Free 15% or 32 hours of customization</span>
                            </li>
                            <li>
                                <span class="icon check"><i class="fa fa-check-circle"></i></span>
                                <span class="list-name">Free post-sale service assistance</span>
                            </li>
                            <li>
                                <span class="icon check"><i class="fa fa-check-circle"></i></span>
                                <span class="list-name">Direct access to lead analysts</span>
                            </li>
                            <div><a class="btn btn-primary" href="/buy-now/{{slug}}/0">Purchase</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="table Premium">
                        <div class="price-section">
                            <div class="price-area">
                                <div class="inner-area">
                                    <span class="price">&#36;{{multiUser}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="package-name">

                        </div>
                        <div class="features">
                            <li>
                                <span class="icon check"><i class="fa fa-check-circle"></i></span>
                                <span class="list-name">Report accessible by up to 5 users</span>
                            </li>
                            <li>
                                <span class="icon check"><i class="fa fa-check-circle"></i></span>
                                <span class="list-name">Free 25% or 54 hours of customization</span>
                            </li>
                            <li>
                                <span class="icon check"><i class="fa fa-check-circle"></i></span>
                                <span class="list-name">Free access to report summaries
                                </span>
                            </li>
                            <li>
                                <span class="icon check"><i class="fa fa-check-circle"></i></span>
                                <span class="list-name">Direct access to lead analysts
                                </span>
                            </li>


                            <li>
                                <span class="icon check"><i class="fa fa-check-circle"></i></span>
                                <span class="list-name">25% discount on your next purchase</span>
                            </li>
                            
                            <li>
                                <span class="icon check"><i class="fa fa-check-circle"></i></span>
                                <span class="list-name">Service guarantee available (Full/partial refund in case of
                                    quality concerns)
                                </span>
                            </li>


                            <li>
                                <span class="icon check"><i class="fa fa-check-circle"></i></span>
                                <span class="list-name">Dedicated account manager</span>
                            </li>
                            <li>
                                <span class="icon check"><i class="fa fa-check-circle"></i></span>
                                <span class="list-name">Personalized market brief by the lead author
                                </span>
                            </li>
                            <li>
                                <span class="icon check"><i class="fa fa-check-circle"></i></span>
                                <span class="list-name">Permission to print the report
                                </span>
                            </li>
                            <div class="btn"><a href="/buy-now/{{slug}}/1" class="btn btn-primary">Purchase</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="table Ultimate">
                        <div class="price-section">
                            <div class="price-area">
                                <div class="inner-area">
                                    <!-- <span class="text">
                                        &#36;
                                    </span> -->
                                    <span class="price">&#36;{{cooperateUser}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="package-name">

                        </div>
                        <div class="features">
                            <li>
                                <span class="icon check"><i class="fa fa-check-circle"></i></span>
                                <span class="list-name">All team license features plus</span>
                            </li>
                            <li>
                                <span class="icon check"><i class="fa fa-check-circle"></i></span>
                                <span class="list-name">Free 30% or 64 hours of customization</span>
                            </li>
                            <li>
                                <span class="icon check"><i class="fa fa-check-circle"></i></span>
                                <span class="list-name">Unlimited user access (Within your organization)</span>
                            </li>
                            <li>
                                <span class="icon check"><i class="fa fa-check-circle"></i></span>
                                <span class="list-name">Exclusive previews of upcoming research & latest releases</span>
                            </li>

                            <li>
                                <span class="icon check"><i class="fa fa-check-circle"></i></span>
                                <span class="list-name">30% discount on your next purchase</span>
                            </li>
                            <div class="btn"><a href="/buy-now/{{slug}}/2" class="btn btn-primary">Purchase</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main><!-- End #main -->